*, *::before, *::after {
     box-sizing: border-box;
}
.container {
	
  	margin: 10px 50px;
}
.header {
	height: 100px;
}
.logo {
	float: left;
	height: 70px;
	width: 100px;
	margin-top: 15px;
}
.line {
	display: ;
}
.header__link:hover, .header__link:focus, .header__link:active {
opacity: .75;
}
.header__link {
	text-decoration: none;
	color: black;
}
.header__item {
	list-style-type: none;
	display: flex;
	float: right;
	margin-left: 45px;
	margin-top: 15px;
}
.content-box {
	display: flex;
	border: 2px grey;
  	border-top-style: solid;
  	border-bottom-style: solid;
  	padding: 14px 0;
  	width: auto;
  	margin: 0;
  	height: inherit;

}
p {
	margin: 0;
	text-align: justify;
	}
.sidebar {
	display: flex;
	width: 30%;
}
.content {
	display: flex;
	height: auto;
  	width: 100%;
  	flex-direction: column;
  	justify-content: center;
}
.footer {
	display: block;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	margin-top: auto;
	width: 100%;
	height: 80px;
}
